# CICD using GitHub actions

name: appointment CI/CD
on:
  push:
    paths:
      - 'appointment/**'
    branches:
      - main
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push Multi-Arch Image action
        uses: docker/build-push-action@v6
        with:
          context: ./appointment
          file: ./appointment/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/hcltest-appointment:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/hcltest-appointment:${{github.run_id}}
